<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/style.css" rel="stylesheet"/>
    <title>Register</title>
</head>
<body>
    <div class="container">
    <h2>Registration</h2>
    <form action="/getdata" method="post">
        <p><input type= "text" placeholder="firstname" name="fname"></p>
        <p><input type= "text" placeholder="lastname" name="lname"></p>
        <p><input type= "email" placeholder="Email" name="email"></p>
        <p><input type= "password" placeholder="password" name="pass"></p>
        <p><input type= "date"  name="dob"></p>
        <input type="submit" value="Register" class="btn"/>
    </form>
    </div>
    
</body>
</html>
